.skill-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 100px;
}

.skill-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    font-family: var(--poppins);
}

.skill{
    background-color: #2a2a2a;
    padding: 7px 25px;
    border-radius: 10px;
}

.skill-title{
    color: #0dab5e;
    font-size: 30px;
    width: 500px;
    margin-bottom: 30px;
    line-height: 40px;
    text-align: center;
}

.all-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    flex-direction: column-reverse;
    gap: 40px;
}

.first-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.second-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.third-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.fourth-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.fifth-skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    gap: 5px;
}

@media(max-width:476px){
    .skill-title{
        color: #0dab5e;
        font-size: 26px;
        width: 100%;
        margin-bottom: 30px;
        line-height: 40px;
        text-align: center;
    }
}