.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 100px;
}

.contact-wrapper{
    background-image: url(../../assets/contact.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    // background-position:  center ;
    padding: 20px;
    width: 900px;
    height: 100px;
    font-family: var(--poppins);
}

.contact-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.contact-title{
    font-size: 35px;
}

.contact-txt{
    font-size: 14px;
    width: 370px;
    text-align: center;
    line-height: 20px;
}

.contact-link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: #0dab5f7e;
    border: 2px solid #0dab5e ;
    border-bottom: none;
    
}

.contact-icon{
    width: 15px;
    height: 15px;
}


@media (max-width:376px){

    .contact-wrapper{
        width: 88%;
    }


    .contact-title{
        font-size: 20px;
    }
    
    .contact-txt{
        font-size: 10px;
        width: 290px;
        text-align: center;
        line-height: 20px;
    }

    .contact-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    
    }

    .contact-content{
        gap: 20px;    
    }

    .contact-link{
        gap: 5px;
        font-size: 10px;
        padding: 5px 5px;
        width: 100px;        
    }
}