.about-container{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
padding-top: 100px;
padding-bottom: 100px;

}

.about-wrapper{
    padding-left: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    width: 100%;
    font-family: var(--poppins);
}

.about-left{
    border: 3px solid #0f9e68;
    
    border-top: none;
    background-color: #26372f;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.my-img{
    object-fit: cover;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.about-right{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-direction: column;
}

.about{
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 10px;
}
.about-title{
    color: #0dab5e;
    font-size: 30px;
    width: 500px;
    margin-bottom: 30px;
    line-height: 40px;
}

.about-txt{
    font-size: 18px;
    width: 800px;
    line-height: 30px;
}



@media (max-width:475px){

    .about-wrapper{
        flex-direction: column;
        padding-left: 0;
        gap: 20px;
    }

    .about-right{
        justify-content: center;
        align-items: center;
        width: 300px;
    }

    .about-title{
        font-size: 25px;
        width: 350px;
        margin-bottom: 30px;
        line-height: 30px;
        text-align: center;
    }
    
    .about-txt{
        font-size: 14px;
        width: 340px;
        line-height: 25px;
        text-align: center;
    }
}